*::selection {
    background: #435ebe !important;
    color: aliceblue;
}

option:hover {
    background: #435ebe !important;
    color: aliceblue;
}

.scroll-horizontal {
    border-radius: .5rem;
    white-space: nowrap;
    overflow-x: auto;
}

.scroll-horizontal img {
    border-radius: .5rem;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.dropzone {
    border: none !important;
    border-radius: .5rem !important;
    background: rgb(240, 240, 240) !important;
}
